<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>


  </head>
  <body>
    <button type="button" id="train">Train</button><br><br>
    <input type="text">
     <button type="button" id="predict">Predict</button>

  </body>
</html>
